In [24]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('../../data/all_wine_data.csv')

msk = np.random.rand(len(df)) <= 0.25
sample = df[msk]

In [11]:
len(sample)

31768

In [12]:
sample.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
7,7,Spain,Lush cedary black-fruit aromas are luxe and of...,Carodorum Único Crianza,95,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
15,15,US,"First made in 2006, this succulent luscious Ch...",Sigrid,95,90.0,Oregon,Willamette Valley,Willamette Valley,Chardonnay,Bergström
20,20,US,Heitz has made this stellar rosé from the rare...,Grignolino,95,24.0,California,Napa Valley,Napa,Rosé,Heitz
27,27,US,"Focused and dense, this intense wine captures ...",Abetina,94,105.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
35,35,Italy,"Forest floor, tilled soil, mature berry and a ...",Riserva,90,135.0,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Carillon

In [13]:
sample.to_csv('../../data/sample.csv') #sample dataset to use for building model

In [25]:
df = pd.read_csv('../../data/all_wine_data.csv')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128137 entries, 0 to 128136
Data columns (total 11 columns):
Unnamed: 0     128137 non-null int64
country        128081 non-null object
description    128137 non-null object
designation    89997 non-null object
points         128137 non-null int64
price          118285 non-null float64
province       128081 non-null object
region_1       107049 non-null object
region_2       51680 non-null object
variety        128137 non-null object
winery         128137 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 10.8+ MB

In [29]:
df1 = df[np.isfinite(df['price'])]

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118285 entries, 0 to 128136
Data columns (total 11 columns):
Unnamed: 0     118285 non-null int64
country        118231 non-null object
description    118285 non-null object
designation    82776 non-null object
points         118285 non-null int64
price          118285 non-null float64
province       118231 non-null object
region_1       98879 non-null object
region_2       51411 non-null object
variety        118285 non-null object
winery         118285 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 10.8+ MB

In [31]:
df1.to_csv('../../data/price_wine_data.csv')